#sentenceInput {
    border-radius: 0.5rem;
}

html {
    background-color: rgb(236, 236, 236);
    padding: 2rem;
}

#submitBtn {
    margin-top: 1rem;
}

.text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}